<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
  <body>
    <%- include ('./partials/header') %>
    <h1>User Profile</h1>
    <p>Name: <%= user.name %></p>
    <p>Email: <%= user.email %></p>
  </body>
</html>
