<div class="w-body">
  <% if (!userName) { %>

  <section>
    <div class="index-title">
      <h1>Make your collections</h1>
      <span>A Gallery of Life's Moments.</span>
    </div>
  </section>
  <% } else{ %>
  <h1>Hi</h1>
  <% } %>
</div>
